<div class="banner">
    <h1>Cocktails party!</h1>
    <p>Here you can select the cocktail of your choice or add a brand new one! </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mt-4">Choose a cocktail</h2>
      <ul class="cards-cocktails">
        <% @cocktails.each do |cocktail| %>
          <li class="card-cocktail">
            <div class="cocktail-info">
              <%= link_to cocktail.name.upcase, cocktail_path(cocktail) %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary', class: 'btn-white' %>
    </div>
  </div>
</div>
