<div class="navigation">
  <ul class="navigation-items">
    <li class="navigation-item">
      <%= link_to image_tag('logo.png', id: "logo" ), root_path %>
    </li>
    <li>
      <%= form_with url: '/search', local: true, method: 'get' do |f| %>
        <%= f.text_field :keywords, id: 'search-field' %>
        <%= f.submit 'Search', input_html: { class: 'btn-white' }%>
      <% end %>
    </li>
  </ul>
</div>
