.cards-cocktails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card-cocktail {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 150px;
  margin: 10px;
  box-shadow: 0px 0px 4px $white;
}

.cocktail-info a{
  color: white;
  font-size: 2em;
  &:hover {
    text-decoration: none;
  }
}
