.navigation {
  background-color: white;
  height: $nav-height;
}

.navigation-items {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 0;
}

.navigation-item {
  padding: 10px;
}

#logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
