.navigation {
  background-color: white;
}

.navigation-items {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

.navigation-item {
  padding: 10px;
}

#logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
